@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Young+Serif&display=swap');
body {
    background-color: aqua;
}

.heading{
    color: darkblue;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;

}

.img {
    width: 250px;
    margin-right: 50rem;
    padding-bottom: 10px;
}

.ingredients {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 60px;
}

.ingredients-table {
    border: 1px solid black;
    margin-left: 20rem;
}

.instructions {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.instructions ol {
    border: 1px solid red;
    margin: 0 auto;
    width: 75%;
}

.footer {
    color: blueviolet;
    font-family: 'Young Serif', serif;
    font-size: 1rem;
    text-align: center;
}